<!DOCTYPE html>
<html>

<head>
    <style>
        h2 {
            margin: 5px;
        }
    </style>
</head>

<body>
    <div style="display: flex;">
        <h2>minimum conductance </h2>
        <h2>{{min_cond}}</h2>
    </div>
    <div style="display: flex;">
        <h2>community with minimum conductance </h2>
        <h2>{{min_comm}}</h2>
    </div>
    <div style="display: flex;">
        <h2>modularity </h2>
        <h2>{{mod}}</h2>
    </div>
    <div style="display: flex;">
        <h2>nmi_score</h2>
        <h2>{{nmi_score}}</h2>
    </div>


</body>

</html>