<!DOCTYPE html>
<html>
<head>
	<style>
		input{
			margin: 5px;
		}
	</style>
</head>
<body>
	<h2>Welcome to social network analysis project</h2>
	<form action="/karate?" +number + npath + epath>
		<input id="number" name="number" placeholder="number of communities" type="number"><br>
		<input id="npath" name="npath" placeholder="nodes path" type="text"><br>
		<input id="epath" name="epath" placeholder="edges path" type="text"><br>
		<h2>if no provided pathes , karate data will be loaded</h2>
		<button type="submit">go to graph</button>
	</form>
</body>

</html>